
@{
    var userProfileType = typeof(UserProfile);
    var properties = userProfileType.GetProperties();
    
}
<table class="table">
    <thead>
        <tr>
            <th>Propetry Name</th>
            <th>Propetry Type</th>
        </tr>
    </thead>
    @foreach (var property in properties)
    {
        <tr>
            <td>@property.Name</td>
            <td>@property.PropertyType</td>
        </tr>
    }
</table>

